body {
    background-color: hsl(214, 66%, 64%);
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: underline;
    text-decoration-color: rgb(27, 202, 202);
    text-align: center;
}